<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body ng-controller="CityCtrl">
<div layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th th:text="#{city.name}"></th>
            <th th:text="#{city.population}"></th>
            <th th:text="#{city.country}"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="city in cities">
            <td>{{city.name}}</td>
            <td>{{city.population}}</td>
            <td>{{city.countryName}}</td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-lg btn-primary" th:text="#{get.report}" ng-click="report()"></button>

    <script type="text/javascript" src="/js/city.js"></script>
</div>
</body>
</html>